    body{
        background: #cccccc; 
        }
    h1 {
        text-align:center;
        color: blue;
        }
    li em strong {
        color: red;
        }
    li {
        text-align: justify;
        }